<form [formGroup]="newInventoryItem" (ngSubmit)="onAdd()">
  <mat-card>
    <mat-card-title>
      {{ title }}
    </mat-card-title>

    <mat-card-content>

      <mat-form-field>
        <input type="text" matInput placeholder="Number" formControlName="number">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Type" formControlName="type">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Status" formControlName="status">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Units" formControlName="units">
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!newInventoryItem.valid" type="submit" mat-button>Add</button>
    </mat-card-actions>

  </mat-card>
</form>