<form [formGroup]="changePassword" (ngSubmit)="onChangePassword()">
  <mat-card>
    <mat-card-title>
      {{ title }}
    </mat-card-title>

    <mat-card-content>

      <mat-form-field>
        <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="New Password" formControlName="newPassword">
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!changePassword.valid" type="submit" mat-button>Change Password</button>
    </mat-card-actions>

  </mat-card>
</form>