.manifest-form {
  width: 90%;
}

.mat-form-field {
  width: 90%;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
